<h1>Editing reminder</h1>

<%= render "form", reminder: @reminder %>

<hr class="my-4">

<div class="d-flex gap-2 mt-3">
  <%= link_to "Show this reminder", @reminder, class: "btn btn-sm btn-info" %>
  <%= link_to "Back to reminders", reminders_path, class: "btn btn-sm btn-secondary me-auto" %>
</div>
